/*追従ヘッダー*/
header {
    background: #112752;
    position: sticky;
    top: 0;
    height: 20vw;
    border-bottom: #E9E9FF;
    border-bottom-width: 1vw;
    border-bottom-style: solid;
}
#headerImg {
    width: 80vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#loading {
    transition: all 1s;
    background-color: #125;
    position: fixed;
    z-index: 9999;
    inset: 0;
    display: grid;
    place-items: center;
    width: 100%;
}
.spinner {
    width: 200px;
    height: 200px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.loaded {
    opacity: 0;
    visibility: hidden;
}

body {
    background: #112752;
    overflow-x: hidden;
}
#top {
    background-image: url(images/background/bg-phone.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h2,h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.section {
    height: 100vh;
    width: 100%;
}
.autoSect {
    height: auto;
    width: 100%;
    padding: 3vw 0 10vw 0;
}
.white {
    background: #e9e9ff;
    color: #112752;
}
.blue {
    background: #112752;
    color: #e9e9ff;
}
.icon {
    width: 100%;
    height: 20vh;
    background-image: url(images/icon.png);
    background-position: center;
    background-size: contain;
    translate: 0 35vh;}
#title {
    translate: 0 -15vh;
    color: #112752;
}
h1 {
    width: 100%;
    font-size: 10vh;
    text-align: center;
}
h2 {
    font-size: 10vh;
    text-align: center;
    padding: 10vw;
    padding-bottom: 0;
}
h3 {
    font-size: 7vh;
    text-align:center;
}
p {
    padding: 0 5vw 0 5vw;
    text-align: center;
    font-size: 5vw;
    font-family: sans-serif;
}
#profile-img{
    background-image: url(images/profile.png);
    background-position: center top;
    background-size: 75vw;
    height: 75vw;
}
a {
    display: block;
    font-size: 10vw;
    color: #E9E9FF;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: .5s;
    text-decoration: none;
    text-align: center;
    width: 100%;
}
a:hover {
    color: #999;
}
footer {
    background: #333;
    width: 100%;
}

/*link.html*/
.linkItems {
    border-radius: 2vw;
    background: #e9e9ff;
    width: 80vw;
    height: 60vw;
    margin-bottom: 10vw;
}
.linkItems a {
    color: #112752;
}
#average {
    background-image: url(./images/average.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70vw;
    height: 40vw;
    margin: 5vw;
    margin-bottom: 3vw;
}
#fmm1 {
    background-image: url(./images/fmm1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70vw;
    height: 40vw;
    margin: 5vw;
    margin-bottom: 3vw;
}
#searchtest {
    background-image: url(./images/searchtest.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70vw;
    height: 40vw;
    margin: 5vw;
    margin-bottom: 3vw;
}

@media (min-width: 800px) {
    /*追従ヘッダー*/
    header {
        height: 20vh;
        border-bottom-width: 1vh;
    }
#headerImg {
    width: 80vh;
}

    #top {
        background-image: url(images/background/bg-pc.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {
        font-size: 10vw;
    }
    #title {
        translate: 0 5vw;
    }
    .icon {
        width: 100%;
        height: 21vw;
        background-image: url(images/icon.png);
        background-position: center;
        background-size: contain;
        translate: 0 5vw;
    }
    h2 {
        padding-top: 5vw;
        font-size: 7.5vw;
    }
    #profile {
        display: flex;
    }
    p {
        font-size: 2vw;
    }
    #profile #profile-imgSec {
        width: 40vw;
    }
    #profile #profile-senSec {
        width: 60vw;
    }
    #profile-img {
        background-size: 30vw;
        height: 30vw;
    }
    .autoSect {
        height: auto;
        width: 100%;
        padding: 1.5vw 0 5vw 0;
    }
    a {
        font-size: 5vw;
    }
    #profile-senSec p {
        padding: 6vw;
        padding-right: 4vw;
    }
h3 {
    font-size: 7.5vw;
    text-align: center;
}

/*link.html*/
.linkItems {
    border-radius: 2vh;
    width: 80vh;
    height: 60vh;
    margin-bottom: 10vh;
}
#average {
    width: 70vh;
    height: 40vh;
    margin: 5vh;
    margin-bottom: 3vh;
}
#fmm1 {
    width: 70vh;
    height: 40vh;
    margin: 5vh;
    margin-bottom: 3vh;
}
#searchtest {
    width: 70vh;
    height: 40vh;
    margin: 5vh;
    margin-bottom: 3vh;
}

}
